.thumb img {
  backface-visibility: hidden;
}

.thumb:hover img {
  opacity: 0.3;
}

.thumb:hover .overlay {
  opacity: 1;
}

.overlay {
  transform: translate(-50%, -50%);
}

.overlay .icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
