.checkbox {
  display: block;
  padding-left: 1.5rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  margin-left: -1.5rem;
  margin-top: 0.125rem;
  float: left;
}

.btn {
  border-radius: 0.25rem;
  color: black;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  text-align: center;
}

.btn.text-white {
  color: white;
}

.btn:disabled {
  cursor: auto;
}

.btn.destructive:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(185, 28, 28, var(--tw-bg-opacity));
  border: 1px solid black;
  color: white;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button,
input,
textarea {
  background-color: #e6e6e6;
  border: 1px solid grey;
  transition: all 0.2s;
}

button > svg {
  display: inline;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

button:hover:not(:disabled):not(.destructive),
input:hover:not(:disabled),
textarea:hover:not(:disabled) {
  background-color: #ccc;
}

button:hover:not(:disabled):not(.destructive),
input:focus:not(:disabled),
textarea:focus:not(:disabled) {
  background-color: #ccc;
}

input[type="file"] {
  color: white;
}

input[type="file"]:hover {
  background-color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 150ms ease-in forwards;
}

.fade-out {
  animation: fade-out 150ms ease-out backwards;
}

.line {
  border: 1px inset white;
  margin: 8px 20px;
}
