@layer components {
  .btn-icon {
    @apply inline-block icon-sm mr-2;
  }

  .dropzone {
    @apply btn btn-outline flex flex-1 flex-col p-6 border-2 rounded-lg outline-none transition-all text-2xl;
  }

  .dropzone:disabled {
    @apply btn-disabled;
  }

  .dropzone.dropzone-dragging:not(:disabled) {
    @apply border-dashed;
  }

  .icon-sm {
    @apply w-6 h-6 stroke-current;
  }

  .icon-md {
    @apply w-10 h-10 stroke-current;
  }
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fade-in 150ms ease-in forwards;
  }

  .fade-out {
    animation: fade-out 150ms ease-out backwards;
  }
}
